*{
  font-size:0.8em;
}
.main-title{
/*  color:red;*/
  margin-top:30px;
  font-size:3em !important;
}
.name{
  font-size:0.8em;
  float:right;
}

.start{
  font-size:0.4em;
}

.small-size{
  font-size:0.3em;
}
